@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}

.wrapper {
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

input {
  border: none;
}

.hero {
  background: url(../img/bg/hero-1.png) no-repeat;
  background-size: cover;
  background-color: #1968B1;
  height: 100vh;
  min-height: 652px;
  color: #fff;
  padding: 24px 0 65px;
  position: relative;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-top: 55px;
}

.hero__title-section {
  width: 46%;
  margin-top: 87px;
  margin-bottom: 66px;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.21;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 38px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 23px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 23px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__item:hover {
  color: #FEDB3F;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  font-weight: bold;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.phone-number:hover {
  color: #FEDB3F;
}

.phone-number__icon-elem {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  margin-right: 35px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  margin-right: 11px;
}

.feature__text {
  font-size: 16px;
  line-height: 1.2;
  max-width: 85px;
  font-weight: bold;
}

.btn {
  font-size: 16px;
  font-weight: 800;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  background: #FEDB3F;
  line-height: 1;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background: #FFD517;
}
.btn_transparent {
  font-size: 18px;
  padding: 21px 18px;
  background: transparent;
  color: #fff;
  text-transform: none;
  font-weight: normal;
}
.btn_transparent:hover {
  background: transparent;
  color: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.23;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #292929;
  text-transform: uppercase;
}

.headline-section {
  padding-bottom: 10px;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 16px;
}

.headline__subtitle {
  margin-bottom: 50px;
  padding: 0 27%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2.76%;
  position: relative;
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
.benefits__item:before {
  content: url(../img/decor/separator.png);
  position: absolute;
  top: 22%;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 68px;
  height: 68px;
}

.benefit__text {
  line-height: 1.23;
}

.benefit__title {
  padding-top: 19px;
  font-weight: bold;
  font-size: 27px;
  color: #292929;
  margin-bottom: 21px;
}

.benefit__desc {
  font-weight: 300;
}

.reviews-section {
  padding-bottom: 10px;
}

.reviews {
  margin-top: 31px;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 39px;
}

.reviews__title {
  font-size: 27px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 17px;
  line-height: 1;
}

.reviews__text {
  margin-bottom: 25px;
  margin-right: 102px;
}

.reviews__author {
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  margin-right: 6px;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: hidden;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.interactive-avatar_active {
  border: 6px solid #FEDB3F;
}
.interactive-avatar:hover {
  border: 6px solid #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 27px;
}

.form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 462px;
  margin-right: 28px;
}
.form__col:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 13px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: 3px solid transparent;
  padding: 16px 12px;
  border-radius: 4px;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input_textarea {
  height: 152px;
  max-width: 450px;
  resize: none;
  margin-bottom: 18px;
}

.form__title {
  line-height: 1.33;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__btns {
  margin-top: 45px;
  margin-left: -8px;
}

.order-section {
  position: relative;
  color: #fff;
  background: url(../img/bg/order.png) no-repeat;
  background-size: cover;
}
.order-section .section__title {
  color: inherit;
  padding-bottom: 60px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 17px;
  margin-bottom: 17px;
}
.radio_checkbox {
  margin-bottom: 0;
}
.radio_checkbox .radio__visible {
  border-radius: 4px;
}
.radio_checkbox .radio__visible::before {
  background: url(../img/icons/tick.png) center center no-repeat;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 11px;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 33%;
  right: 4%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}