.feature {
  display: flex;
}

.feature__icon {
  width: rem(41px);
  height: rem(41px);
  margin-right: rem(11px);
}

.feature__text {
  font-size: rem(16px);
  line-height: 1.2;
  max-width: rem(85px);
  font-weight: bold;
}