.form {
  display: flex;
  padding-bottom: rem(27px);
  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }
  @include phones {
    padding: 0;
  }
}

.form__col {
  margin-right: rem(28px);
  flex: 1;
  &:last-child {
    margin-right: 0;
    .form__row {
      margin-bottom: 0;
    }
  }
  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(14px);
}

.form__block {
  flex: 1;
  margin-right: rem(13px);
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-right: rem(17px);
  }
}

.form__input {
  width: 100%;
  border: rem(3px) solid transparent;
  padding: rem(16px) rem(12px);
  border-radius: rem(4px);
  &:focus {
    border-color: $yellow;
    outline: none;
  }
  &_textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(32px);
    @include tablets {
      height: rem(87px);
    }
  }
  @include tablets {
    padding: rem(7px) rem(9px);
  }
}

.form__title {
  line-height: 1.33;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  @include phones {
    justify-content: center;
  }
}

.form__btns {
  margin-top: rem(45px);
  margin-left: rem(-8px);
  display: flex;
  @include tablets {
    justify-content: center;
  }
}