.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: rem(23px) 0;
  @include tablets {
    background-color: $blue;
    padding: rem(28px) 0;
  }
  @include phones {
    padding: rem(31px) 0;
  }
}

.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  width: rem(56px);
  height: rem(40px);
}