.products-menu-section {
  background: url(./img/bg/slider-1.png) center center/cover no-repeat;
  position: relative;
  color: #fff;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
  }
}

.products-menu-section__title {
  position: absolute;
  top: rem(109px);
  left: rem(84px);
  color: #fff;
  @include tablets {
    left: rem(40px);
  }
  @include phones {
    font-size: rem(40px);
    left: rem(10px);
  }
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.products-menu__item {
  display: flex;
}

.products-menu__image {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.products-menu__title {
  position: relative;
  width: rem(102px);
  &:after {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, .4);
  }
  @include phones {
    width: rem(90px);
  }
}

.products-menu__text {
  position: absolute;
  z-index: 1;
  bottom: -1%;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  white-space: nowrap;
  line-height: 1;
  font-size: rem(48px);
  font-weight: 700;
  @include phones {
    font-size: rem(40px);
  }
}

.products-menu__content {
  background: rgba(47, 50, 52, .9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width .7s;
}

.products-menu__container {
  padding: rem(40px) rem(73px) rem(45px) rem(26px);
}

.products-menu__close {
  position: absolute;
  top: rem(20px);
  right: rem(25px);
  border: none;
  background: 0 0;
}

.products-menu__close-icon {
  width: rem(18px);
  height: rem(18px);
  display: block;
  color: #fff;
  transition: .3s;
  &:hover {
    opacity: .5s;
  }
}