$containerWidth: 940px;
$baseFontSize: 18px;
$blue: #1968B1;
$blueIcon: #3A587E;
$blueIconHover: #3465A3;
$yellow: #FEDB3F;
$yellowHover: #FFD517;
$black: #292929;
$grey: #B3B3B3;
$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;