.benefits-section {
  padding-bottom: rem(10px);
  @include tablets {
    min-height: rem(1059px);
  }
  @include phones {
    min-height: rem(795px);
  }
}

.benefits-section__title {
  margin-bottom: rem(16px);
}

.benefits-section__subtitle {
  text-align: center;
  margin-bottom: rem(50px);
  padding: 0 27%;
  @include phones {
    padding: 0 5%;
  }
}