.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 68px;
  height: 68px;
}

.benefit__title {
  font-weight: bold;
  font-size: 27px;
  color: $black;
}