.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(15px) 0;
  background: #fff;
  @include tablets {
    padding: rem(27px) 0;
  }
  @include phones {
    padding: rem(31px) 0;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include phones {
    flex-direction: column;
  }
}