.form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 27px;
}

.form__col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 462px;
  margin-right: 28px;
  &:last-child {
    flex: 1;
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 14px;
}

.form__block {
  flex: 1;
  margin-right: 13px;
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: 3px solid transparent;
  padding: 16px 12px;
  border-radius: 4px;
  &:focus {
    border-color: $yellow;
    outline: none;
  }
  &_textarea {
    height: 152px;
    max-width: 450px;
    resize: none;
    margin-bottom: 18px;
  }
}

.form__title {
  line-height: 1.33;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__btns {
  margin-top: 45px;
  margin-left: -8px;
}