.form {
  display: flex;
  padding-bottom: 20px;
}

.form__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 26px;
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 7px;
}

.form__block {
  flex: 1;
  margin-right: 16px;
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: 3px solid transparent;
  padding: 19px 12px;
  border-radius: 4px;
  &:focus {
    border-color: $yellow;
    outline: none;
  }
  &_textarea {
    height: 152px;
    resize: none;
    margin-bottom: 28px;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__btns {
  margin-top: 45px;
  margin-left: -8px;
}