.hero {
  background: url(../img/bg/hero-1.png) no-repeat;
  background-size: cover;
  background-color: $blue;
  height: 100vh;
  min-height: 652px;
  color: #fff;
  padding: 24px 0 65px;
  position: relative;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 55px;
}

.hero__title-section {
  width: 46%;
  margin: 86px 0;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.21;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 52px;
}