.order-section {
  position: relative;
  color: #fff;
  &:before {
    content: "";
    background: #2B2B2B;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
  }
  &:after {
    content: "";
    background: url(../img/bg/order.png) no-repeat;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .section__title {
    color: inherit;
  }
}