.products-section {
  min-height: rem(642px);
  background: #F8FAF9;

  @include tablets {
    min-height: rem(864px);
    padding-bottom: rem(50px);
  }

  @include phones {
    min-height: rem(918px);
  }
}

.product-slider {
  position: relative;
  height: 100%;

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
    margin-bottom: rem(40px);
  }
}

.product-slider__arrow {
  background: url(../img/icons/arrow.svg) center center no-repeat;
  background-size: contain;
  display: block;
  width: rem(13.5px);
  height: rem(27px);
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  z-index: 10;
}

.product-slider__arrow_direction_next {
  right: -2%;
}

.product-slider__arrow_direction_prev {
  left: -2%;
  transform: rotate(-180deg);
}

.products__item {
  padding-left: rem(65px);

  @include tablets {
    padding-left: 0;
  }
}