.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-right: rem(17px);
  margin-bottom: rem(17px);
  &_checkbox {
    margin-bottom: 0;
    .radio__visible {
      border-radius: rem(4px);
      &::before {
        background: url(../img/icons/tick.svg) center center no-repeat;
      }
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.radio__elem {
  display: none;
  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: rem(25px);
  height: rem(25px);
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: rem(11px);
  &:before {
    content: "";
    width: rem(13px);
    height: rem(13px);
    background: $yellow;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}