.socials {
  display: flex;
  padding-top: rem(14px);
  @include tablets {
    padding-top: rem(10px);
  }
}

.socials__item {
  margin-right: rem(14px);
  &:last-child {
    margin-right: 0;
  }
  color: $grey;
  transition: .3s;
  &:hover {
    color: $black;
  }
}

.socials__icon {
  width: rem(20px);
  height: rem(20px);
}